{
  "extends": ["next", "next/core-web-vitals", "plugin:@next/next/recommended"],
  "rules": {
    // react rules
    "jsx-a11y/accessible-emoji": "off",
    "react/jsx-sort-props": [
      "warn",
      {
        "reservedFirst": ["key"]
      }
    ]
  }
}
